@model NETD_Lab5.Models.CompletedPrompts

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CompletedPrompts</h4>
<hr />
<div class="row bg-dark text-light">
    <div class="col-md-4">
        <form class="bg-dark text-light" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="p_id" class="control-label">Select a Prompt</label>
                 <select asp-for="p_id" class="form-control " asp-items="@ViewBag.p_id"></select>
    <span asp-validation-for="p_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="book_name" class="control-label">Book Title</label>
                <input asp-for="book_name" class="form-control" />
                <span asp-validation-for="book_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="author_name" class="control-label">Authors Name</label>
                <input asp-for="author_name" class="form-control" />
                <span asp-validation-for="author_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rating" class="control-label">Rating</label>
                <select asp-for="rating" class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                </select>
                <span asp-validation-for="rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
