@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center bg-dark text-light">
    <h1 class="display-4">Welcome to my Reading Challenge!</h1>
    <p>This is where I'll be keeping track of my reading challenges for the year of 2020!</p><br/>
    <br/>
    <p>For more information on where I got my prompts visit: <a href="https://www.popsugar.com/entertainment/photo-gallery/46857621/image/46908485/2020-POPSUGAR-Reading-Challenge">PopSugar!</a></p>
</div>