
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Just so we're clear, I have no affiliation with PopSugar! or their Reading Challenge, I just made this because my Prof asked me to!</p>